node_modules
.turbo
.next
dist
build
coverage
.env
.env.local
.env.*.local
*.log
.DS_Store
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
firebase-service-account.json
*.pem
.idea
.vscode
*.tsbuildinfo
.scae-prod-credentials.txt
